[core]
	autocrlf = false
[pull]
	rebase = false
[user]
	name = Your Name
	email = you@mail.com
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[alias]
    st = status -sb
    ad = add -A
    cm = commit -m
    ca = commit --amend
    ph = push
    pl = pull
    lg = log --oneline --graph --decorate --all
    ba = branch -a
    bd = branch -d
    puo = push --set-upstream origin
    pdo = push --delete origin
    po = push origin
    d = diff
    dc = diff --cached
    c = clean -fxd -e **/.vscode/* -e setup
    s = switch
    m = merge
    cb = checkout -b
    rpo = remote prune origin
    cp = cherry-pick
    dh =  diff HEAD~1 HEAD
