[core]
	autocrlf = false
[pull]
	rebase = false
[user]
	name = Your Name
	email = you@mail.com
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[alias]
    st = status -sb
    ad = add -A
    cm = commit -m
    ca = commit --amend
    ph = push
    pl = pull
    lg = log --oneline --graph --decorate --all
    lg1w = log --since="1 week ago" --stat
    ba = branch -a
    bd = branch -d
    puo = push --set-upstream origin
    pdo = push --delete origin
    po = push origin
    d = diff
    dc = diff --cached
    c = clean -fxd -e **/.vscode/* -e setup
    s = switch
    m = merge
    ms = merge --squash
    msu = merge --squash --allow-unrelated-histories
    cb = checkout -b
    rpo = remote prune origin
    cp = cherry-pick
    dh =  diff HEAD~1 HEAD
    uiau = update-index --assume-unchanged
    uinau = update-index --no-assume-unchanged
    tagr = tag --sort=-version:refname
    tagd = tag --sort=-creatordate
    f = fetch
